In [35]:
import pandas as pd
import numpy as np 
import os
print(os.getcwd())

sales = pd.read_csv(r'C:\Users\Chaim\Desktop\Master M2\Smart_Sales_Dashboard\Smart_Sales_Dashboard\data\raw\sales.csv') 
customers = pd.read_csv(r'C:\Users\Chaim\Desktop\Master M2\Smart_Sales_Dashboard\Smart_Sales_Dashboard\data\raw\customers.csv')

c:\Users\Chaim\Desktop\Master M2\Smart_Sales_Dashboard\Smart_Sales_Dashboard\notebooks

In [36]:
sales.info
customers.info

print("sales missing data:",sales.isnull().sum())
print("customers missing data:",customers.isnull().sum())

sales missing data: invoice_no       0
customer_id      0
category         0
quantity         0
price            0
invoice_date     0
shopping_mall    0
dtype: int64
customers missing data: customer_id         0
gender              0
age               119
payment_method      0
dtype: int64

In [37]:
sales.drop_duplicates()

,invoice_no,customer_id,category,quantity,price,invoice_date,shopping_mall
0,I138884,C241288,Clothing,5,1500.40,05-08-2022,Kanyon
1,I317333,C111565,Shoes,3,1800.51,12-12-2021,Forum Istanbul
2,I127801,C266599,Clothing,1,300.08,09-11-2021,Metrocity
3,I173702,C988172,Shoes,5,3000.85,16-05-2021,Metropol AVM
4,I337046,C189076,Books,4,60.60,24-10-2021,Kanyon
...,...,...,...,...,...,...,...
99452,I219422,C441542,Souvenir,5,58.65,21-09-2022,Kanyon
99453,I325143,C569580,Food & Beverage,2,10.46,22-09-2021,Forum Istanbul
99454,I824010,C103292,Food & Beverage,2,10.46,28-03-2021,Metrocity
99455,I702964,C800631,Technology,4,4200.00,16-03-2021,Istinye Park
99456,I232867,C273973,Souvenir,3,35.19,15-10-2022,Mall of Istanbul

In [38]:
sales['invoice_no']=sales['invoice_no'].astype(str)
sales['price']=sales['price'].astype(float)

In [ ]:
import pandas as pd
sales['invoice_date'] = pd.to_datetime(sales['invoice_date'], errors='coerce')
sales['quantity'] = pd.to_numeric(sales['quantity'], errors='coerce')
sales['price'] = pd.to_numeric(sales['price'], errors='coerce')

sales['total'] = sales['quantity'] * sales['price']

last_date = sales['invoice_date'].max()

cust_agg = sales.groupby('customer_id').agg({
    'invoice_date': lambda x: (last_date - x.max()).days,
    'invoice_no': 'nunique',
    'total': 'sum'
}).rename(columns={
    'invoice_date':'Recency',
    'invoice_no':'Frequency',
    'total':'Monetary'
}).reset_index()

In [44]:
customers["age"]=customers["age"].fillna(0)
print("customers missing data:",customers.isnull().sum())

customers missing data: customer_id       0
gender            0
age               0
payment_method    0
dtype: int64

In [45]:
sales.to_csv(r'C:\Users\Chaim\Desktop\Master M2\Smart_Sales_Dashboard\Smart_Sales_Dashboard\data\clean\sales_clean.csv',index=False) 
customers.to_csv(r'C:\Users\Chaim\Desktop\Master M2\Smart_Sales_Dashboard\Smart_Sales_Dashboard\data\clean\customers_clean.csv',index=False)